<div class="footer ml-auto mr-auto mb-10 footer-dark d-flex justify-content-center page-footer font-small pt-2 fixed-bottom">
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/jikku-john-baa1601b3/" rel="tooltip"
        target="_blank" title="Follow me on Linkedin">
        <i class="fa fa-linkedin fa-lg "></i>
    </a>
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
        href="https://github.com/jjikku" rel="tooltip" target="_blank"
        title="Follow me on GitHub">
        <i class="fa fa-github fa-lg "></i></a>
</div>
