<section id="patent">
  <div class="container mb-5">
    <h2><strong>Patents</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row" data-aos="fade-up" data-aos-anchor-placement="top-center">
      <!-- <div class="col-md-3 col-lg-3"> -->
        <div class="patent">
            <h4> <a href="https://patents.google.com/patent/US8266361B1/">Access methods and circuits for devices having multiple buffers </a>
        </h4>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
